.empty{
	position: relative;
	height: 100px;
	width: 100%;
}
.W-Wrapper{
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	height: 200px;
	left: 50%;
	transform: translateX(-50%);
	background: url(../img/w4.svg) no-repeat center center;
	background-size: contain;
	mask-image:url(../img/w4.svg) ;
	mask-repeat: no-repeat;
	mask-position: center center;
	-webkit-mask-image: url(../img/w4.svg);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	/* text-indent: -9999px */
}
.W-Wrapper:before{
	content: "";
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: all 1s linear;
	background: linear-gradient(270deg, #e82829, #e36ca5, #4a9dd6, #7ebf42, #e4e11d, #e82829, #e36ca5, #4a9dd6, #7ebf42, #e4e11d, #e82829);
	background-size: 200% 100%;
	background-position: 0 0;
	animation: rainbowMove2 4s ease infinite;
	animation-iteration-count: infinite;
	-webkit-animation: rainbowMove2 4s ease infinite;
	-moz-animation: rainbowMove2 4s ease infinite;
}
@keyframes rainbowMove2{
	0% {background-position: 0% 0;}
	25% {background-position: 25% 0;}
	50% {background-position: 50% 0;}
	75% {background-position: 75% 0;}
	100% {background-position: 100% 0;}
}
.W-Wrapper:hover:before{
	background-position: 100% 0
}
.main-window{
	position: relative;
	left: calc(4% + 125px);
	width: calc(100% - 4% - 125px - 50px);
}
.personal{
	position: relative;
	padding-right: 10px;
	display: block;
    color: white;
	font-family: Adobe Garamond Pro;
}

.socialWrapper {
	/* bottom: -25px; */
	position: relative;
	width: 100%;
	/* height: auto; */
	transition: 0.8s;
}

.footerSocials {
	list-style: none;
	margin: 17px auto 0px;
	padding: 0;
	text-align: center;
}

.footerSocials li {
	display: inline-block
}

.footerSocials a {
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 4px;
	background-repeat: no-repeat;
	background-size: 24px auto;
	background-position: center center;
	cursor: pointer;
}

.footerSocials span {
	visibility: hidden;
	position: absolute
}

.footerSocials svg {
	width: 24px;
	margin-top: 9px
}

.footerSocials path {
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.footerSocials a:hover path {
	fill: #BBBBBC
}

.footerSocials.menuSocials a:hover path {
	fill: #BBBBBC
}
.copy-right{
	/* bottom: -35px; */
	width: 100%;
	height: auto;
	color: #636364;
	text-align: center;
	letter-spacing: 0.8px;
	font-family: Adobe Garamond Pro;
    font-weight: normal;
	font-size: 13px;
	position: absolute;
}
.copy-right a{
	text-decoration: none;
	color: #636364;
}

@media(max-width: 600px){
	.main-window{
		position: relative;
		top: 100px;
		left: 25px;
		width: calc(100% - 50px);
	}
}