.port_navi{
    position: absolute;
    top: 68px;
    left: 50%;
    transform: translateX(-50%);
    color: #5F5F5F;
    z-index: 2;
}
.port_navi span{
    color: #5F5F5F;
    text-decoration: none;
    transition: 0.8s;
    letter-spacing: 0.8px;
    cursor:pointer;
}
.port_navi span:hover{
    color: #BBBBBC;
}
.port_navi span.active{
    color: #BBBBBC;
}
.CardWindow{
    position: absolute;
    top: 100px;
    left: 180px;
    width: calc(100% - 180px - 50px);
}
.CardWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
    justify-content: flex-start;
}
.CardBox{
    position: relative;
    width: 25%;
    cursor:pointer;
    border: 0px;
    padding: 0px;
}
.CardText{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	display: flex;
	justify-content: center;
    align-items: center;
    color: white;
    transition: 0.8s;
    z-index: 0;
    text-align: center;
}
.CardText h2{
    font-family:  Adobe Garamond Pro;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.4px;
}
.CardBox img{
    width: 100%;
    height: 100%;
    cursor:pointer;
    z-index: 1;
}
.CardText:hover{
    opacity: 1;
}
#ArtWindow{
    opacity: 1;
    z-index: 1;
    transition: 0.4s;
}
#GraphicsWindow{
    opacity: 0;
    z-index: 0;
    transition: 0.4s;
}

.colorBarRoll{
	position: relative;
	margin-top: 0;
	top: 0;
	left: 0;
	width: 100%; 
	height: 3px;
	z-index: 10;
	background: linear-gradient(270deg, #e82829, #e36ca5, #4a9dd6, #7ebf42, #e4e11d, #e82829);
}
.socialWrapper {
    border-top: 10px solid transparent;
	bottom: 0px;
	height: 4px;
	position: fixed;
	width: 100%;
	transition: 0.8s;
	background-color: rgb(29, 25, 25);
    z-index: 45;
    background-clip: padding-box;
}
.socialWrapper:hover{
    height: 68px;
}

.footerSocials {
	list-style: none;
	margin: 8px auto 0px;
	padding: 0;
	text-align: center;
}

.footerSocials li {
	display: inline-block
}

.footerSocials a {
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 4px;
	background-repeat: no-repeat;
	background-size: 24px auto;
	background-position: center center;
	cursor: pointer;
}

.footerSocials span {
	visibility: hidden;
	position: absolute
}

.footerSocials svg {
	width: 20px;
	margin-top: 9px
}

.footerSocials path {
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.footerSocials a:hover path {
	fill: #BBBBBC
}

.footerSocials.menuSocials a:hover path {
	fill: #BBBBBC
}
.copy-right{
	/* bottom: -35px; */
	width: 100%;
	height: auto;
	color: #636364;
	text-align: center;
	letter-spacing: 0.8px;
	font-family: Adobe Garamond Pro;
    font-weight: normal;
	font-size: 8px;
	position: absolute;
	margin-top: -10px;
}
.copy-right a{
	text-decoration: none;
	color: #636364;
}


@media(max-width: 1000px){
    .CardBox{
        width: 33.3%;
    }
}
@media(max-width: 600px){
    .CardWindow{
        left: 0;
        margin-right: 0;
        width: 100%;
    }
    .CardBox{
        width: 50%;
    }
}
@media(max-width: 321px){
    .port_navi{
        font-size: 13px;
    }
}