.port_navi{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    color: #5F5F5F;
    /* background-color: tomato; */
}
.port_navi span{
    color: #5F5F5F;
    text-decoration: none;
    transition: 0.8s;
    letter-spacing: 0.8px;
    cursor:pointer;
}
.port_navi span:hover{
    color: #BBBBBC;
}
.port_navi span.active{
    color: #BBBBBC;
}