.window-container{
    position: absolute;
    top: 100px;
    left: 180px;
    width: calc(100% - 180px - 50px); /*margin-right 50px*/
}
.AlbumYear{
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
}
.AlbumYear h2{
    color: rgb(214, 200, 200);
    font-size: 18px;
    font-family: adobe-garamond-pro, Garamond, Baskerville, Baskerville Old Face, Times New Roman, serif;
    letter-spacing: 0.8px;
    font-weight: normal;
}
.AlbumYear h2:before{
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 0.5px;
    position: relative;
    vertical-align: middle;
    margin-right: 20px;
    width: 40%;
}
.AlbumYear h2:after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 0.5px;
    position: relative;
    vertical-align: middle;
    margin-left: 20px;
    width: 40%;
}
.timelineWrapper{
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}
.timelineWrapper2{
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}
.timelineWrapper3{
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.time-cell {
    display: block;
	width: 16.667%;
	padding: 0 15px;
	text-align: center;
	opacity: 1;
    position: absolute;
    text-decoration: none;
}
.ImageBox{
    position: relative;
	width: 100%
}
.ImageBox img{
    display: block;
	width: 100%
}
.ImageBox:after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: -15px;
	right: -15px;
	height: 1px;
    background-color: #4d4d4d;
}
.TextBox{
    position: relative;
	margin-top: 30px;
	color: #707070;
    padding-top: 5px;
    transition: 0.8s;
    font-family:  Adobe Garamond Pro;
} 
.TextBox span{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 9px;
    letter-spacing: 0.8px;
}
.time-cell:hover .TextBox{
    color: #fff
}
.TextBox:before {
	content: "";
	position: absolute;
	top: -10px;
	left: 50%;
	width: 1px;
	height: 20px;
	background-color: #4d4d4d
}
.TextBox h2 {
    margin: 5px auto 1px;
    font-weight: normal;
    letter-spacing: 0.8px;
}


.colorBarRoll{
	position: relative;
	margin-top: 0;
	top: 0;
	left: 0;
	width: 100%; 
	height: 3px;
	z-index: 10;
	background: linear-gradient(270deg, #e82829, #e36ca5, #4a9dd6, #7ebf42, #e4e11d, #e82829);
}
.socialWrapper {
    border-top: 10px solid transparent;
	bottom: 0px;
	height: 4px;
	position: fixed;
	width: 100%;
	transition: 0.8s;
	background-color: rgb(29, 25, 25);
    z-index: 45;
    background-clip: padding-box;
}
.socialWrapper:hover{
    height: 68px;
}

.footerSocials {
	list-style: none;
	margin: 8px auto 0px;
	padding: 0;
	text-align: center;
}

.footerSocials li {
	display: inline-block
}

.footerSocials a {
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 4px;
	background-repeat: no-repeat;
	background-size: 24px auto;
	background-position: center center;
	cursor: pointer;
}

.footerSocials span {
	visibility: hidden;
	position: absolute
}

.footerSocials svg {
	width: 20px;
	margin-top: 9px
}

.footerSocials path {
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.footerSocials a:hover path {
	fill: #BBBBBC
}

.footerSocials.menuSocials a:hover path {
	fill: #BBBBBC
}
.copy-right{
	/* bottom: -35px; */
	width: 100%;
	height: auto;
	color: #636364;
	text-align: center;
	letter-spacing: 0.8px;
	font-family: Adobe Garamond Pro;
    font-weight: normal;
	font-size: 8px;
	position: absolute;
	margin-top: -10px;
}
.copy-right a{
	text-decoration: none;
	color: #636364;
}


@media(max-width: 1100px){
    .time-cell{
        width: 25%;
    }
}
@media(max-width: 900px){
    .time-cell{
        width: 30%;
    }
}
@media(max-width: 600px){
    .window-container{
        left: 0;
        width: 100%;
    }
    .AlbumYear h2:before{
        width: 35%;
    }
    .AlbumYear h2:after{
        width: 35%;
    }
    .socialWrapper{
        display:none
    }
}